// app global css
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/HelveticaNeueLight.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AppleMed';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/AppleMed.woff') format('woff');
}

@font-face {
    font-family: Chalet;
    src: local('Chalet-LondonNineteenSeventy'),
      url('./fonts/Chalet-LondonNineteenSeventy.woff2') format('woff2'),
      url('./fonts/Chalet-LondonNineteenSeventy.woff') format('woff'),
      url('./fonts/Chalet-LondonNineteenSeventy.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.text-h5 {
  font-family: 'Helvetica';
}

.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6,
.text-subtitle1, .text-subtitle2,
.text-body1, .text-body2,
.text-weight-medium,
.text-caption, .text-overline,
.q-table__title {
  // color: RGB(85, 85, 85);
  color: #3d5170
}

.q-icon.icon-info {
  color: #3d5170  
}

.q-item__section, .q-checkbox__label {
  color: RGB(61, 81, 112);
  font-weight: 600;
  font-size: 13.6px;
}

.q-item.active-menu-item  {
  background-color: $primary;
}

.q-item.active-menu-item > .q-item__section  {
  color $primary
}

.q-item.active-menu-item-right  {
  background-color: $grey-2;
  border-left: 4px solid $primary;
}

.q-item.active-menu-item-right > .q-item__section  {
  color $primary
}

.text-light {
  color: #6f6f6f
}

.text-h4 {
  color: #444;
  font-weight: bold
}
